@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Josefin+Sans:ital@0;1&display=swap');
*{
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin: 0px;
}
body{
    background-color: rgb(19, 19, 19);
}
.cabeçalho{
    display: flex;
    height: 130px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    align-items: end;
}
.cabeçalho h1{
    margin-left: 15px;
    text-align: left;
    font-size: 50px;
}
.post{
    background-color: rgb(0, 0, 0);
    height: 1000px;
    width: 100vw;
}
.post h1{
    padding-top: 30px;
    text-align: center;
    font-size: 50px;
}
.post p{
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
}